<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Rediriger tout vers le dossier public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
    
    # Forcer la redirection pour les requêtes à la racine
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
<IfModule mod_php.c>
  php_value upload_max_filesize 20G
  php_value post_max_size 20G
  php_value max_execution_time 0
  php_value max_input_time 0
</IfModule>

php_value upload_max_filesize 20G
php_value post_max_size 20G